.section1{
    background-image: url("/assets/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding: 160px;
    color:white;
    font-size: 
}
.section1 h1{
    font-size: 80px;
    font-weight: bolder;
}
.firsttext{
    text-align: center;
    
}